extends layout

block content
  h1 Hackathon Starter
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
      a(href='/auth/login', style='color: #fff')
        .panel.panel-default(style='background-color: #3b5998')
          .panel-body
            | Login